

.theme(@cTheme: #e67710){
    // 所有与主题相关的样式都写在这里
    .theme_font{
        color:@cTheme
    }
    .theme_hover{
        background: @cTheme;
    }
    .them_show_white{
        color: #ffffff !important;
    }
}
